
.link {
  text-decoration: none;
  display: inline-block;
}

.unlink {
  text-decoration: none;
  display: inline-block;
}

.unlink:link {
  .unlink();
  cursor: default;
}
.unlink:hover{
  .unlink();
  cursor: default;
}
.unlink:active {
  .unlink();
  cursor: default;
}
.unlink:visited {
  .unlink();
  cursor: default;
}
.divWrapper>div {
  height: 100%;
  width: 100%;
}
